/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
  font-family: 'Open Sans', serif;
}

h4 {
  font-family: 'Roboto Slab', serif;
}

.sidenav-trigger {
  color: #26a69a;
}

footer.page-footer {
  margin: 0;
}

.section-divider {
  margin: 0 auto; 
  width: 90%;
}