import React from 'react';
import styles from './{{pascalCase name}}.module.css';

function {{pascalCase name}}() {
  return (
    <div>
      {/* Component JSX */}
    </div>
  );
}

export default {{pascalCase name}};