/* Header Styling */
.header_title {
    font-family: 'Roboto Slab', serif !important;
    font-size: 1.5rem !important;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);    
}

.nav_button {
    margin-left: 10px;
}

.nav_button_text {
    margin-left: 5px;
    font-size: 1.2rem;
    font-family: 'Open Sans', serif;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);  
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.appbar {
    width: 100vw !important;
    left: 0 !important;
    right: auto !important;
}

.header_margin {
    height: 20% !important;
}